<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mt-timeline"
     data-instanceurl="{settings.instanceUrl}"
     data-timelinetype="{settings.timelineType}"
     data-userid="{settings.userId}"
     data-profilename="{settings.profileName}"
     data-hashtagname="{settings.hashtagName}">
    <div id="mt-body" class="mt-body" role="feed">
        <div class="loading-spinner"></div>
    </div>
</div>

<f:section name="HeaderAssets">
    <link rel="stylesheet" type="text/css" href="Css/mastodon-timeline.min.css" media="print">
</f:section>

<f:section name="FooterAssets">
    <script src="JavaScript/mastodon-timeline.js" type="text/javascript"></script>
</f:section>

</html>
