<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mt-timeline"
     data-instanceurl="{settings.instanceUrl}"
     data-timelinetype="{settings.timelineType}"
     data-userid="{settings.userId}"
     data-profilename="{settings.profileName}"
     data-hashtagname="{settings.hashtagName}"
     data-linkseemore="{f:translate(key: 'plugin.link.seemore')}"
     data-limit="{f:if(condition: '{settings.tootsLimit}', then: '{settings.tootsLimit}', else: '20')}"
    >
    <div class="mt-body" id="mt-body-{data.uid}" role="feed">
        <div class="loading-spinner"></div>
    </div>
</div>

<f:section name="HeaderAssets">
    <f:asset.css identifier="mastodonCss" href="EXT:mastodon_feed/Resources/Public/Css/mastodon-timeline.min.css" />
</f:section>

<f:section name="FooterAssets">
    <f:asset.script identifier="mastodonJs" src="EXT:mastodon_feed/Resources/Public/JavaScript/mastodon-timeline.js" />
</f:section>

</html>
